<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="favicon.ico" type="image/x-icon"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="covid-19 covid testing,biomark, biomarking, biomarkers, blood testing, health, health tracking, fitness, healthy lifestyle, blood test, doctor, clinic, diagnostics, health insights, risk factors, health risks, minimising health risks, getting fit, losing weight, athletic performance, muscle, muscle performance, muscle recovery, increase endurance, fitness goals, doctor appointment, annual checkup">
        <meta name="author" content="Biomarking Team">
        <meta name="description" content="We offer a simple blood test that serves as the first step in gaining actionable insights about your health.">
        <title>Booking | Biomark</title>
        <link rel="stylesheet" href="./css/vendor.css">
        <link rel="stylesheet" href="./css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Mukta:400,700|Muli:400,700" rel="stylesheet">
        <!-- <base href="/"> -->
    </head>
    <body ng-app="BiomarkBooking">
        <div ui-view></div>
        <script src="./js/vendor.js"></script>
        <script src="./js/script.js"></script>
        <script src="./js/cache.js"></script>
        <script src="https://kit.fontawesome.com/d26254ccb5.js" crossorigin="anonymous"></script>
    </body>
</html>