<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Booking Covid-19 Booking PAH Biomark">
    <meta name="author" content="Biomarking Team">
    <meta name="description" content="Covid-19 Booking">
	<title>Booking | Biomark</title>
    <link rel="stylesheet" href="./css/vendor.css">
    <link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css">
	<link rel="stylesheet" type="text/css" href="//cdn3.devexpress.com/jslib/16.2.15/css/dx.common.css" />
	<link rel="stylesheet" type="text/css" href="//cdn3.devexpress.com/jslib/16.2.15/css/dx.light.css" />
    <link href="//fonts.googleapis.com/css?family=Mukta:400,700|Muli:400,700" rel="stylesheet">
	<!-- inject:css -->
	
	<link rel="stylesheet" href="style.1590511202.css">
	
	<!-- endinject -->
	<!-- <base href="/"> -->
</head>
<body ng-app="BiomarkBooking">
	<div ui-view></div>
	<!-- inject:js -->
	<script src="script.1590511202.js"></script>
	<!-- endinject -->
	<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery/jquery-3.1.0.min.js"></script>
	<script src="//cdn3.devexpress.com/jslib/20.1.3/js/dx.all.js"></script>
	<script src="//kit.fontawesome.com/d26254ccb5.js" crossorigin="anonymous"></script>
</body>
</html>